* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
    html {
        width: 100vw;
        margin: 0px;
        height: 100%;

    }

    header {
        padding: 20px;
        background-color: seagreen;
        text-align: center;
    }

    menu{
        width: 80vw;
        margin: auto;
        margin-top: 2px;
        margin-bottom: 2px;
        height: 740px;
        padding-bottom: 21px;
       
    }
    .home > h1 {
  
        position: inherit; 
        background-color: black;
        line-height: 1.3em;
        color: white;
        text-align: center;
        
       
    }
    .tst{
        text-align: center;
       padding-bottom: 120px;
    }
    menu > .tst > p {
       
        color: white;
    }
    menu > .tst > h1{
        font-size: 3em;
        font-weight: bolder;
        
    }
    
    q{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2em;
        font-weight: bolder;
        color: aliceblue;
    }
    
    ul{
    list-style: none;
    margin: auto;
    display: inline-block;
    margin-bottom: 5px;
    }
    li{
        
        
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    a{
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.8em;
        font-weight: bolder;
        color: aliceblue;
        
    }
    a:hover{
        padding: 2px;
        color: rgb(184, 176, 167);
        
    }
    #cat{
        background-color: rgb(22, 68, 42);
        box-shadow: 5px 5px 8px black;
        height: 2em;
        font-size: 0.7em;
        height: 42px;
        width: 100%;
        height: 35px;
       
       
        text-align: center;
    }
    #cat > ul {
        color: black;
        display: flex;
       
       text-align: center;
       justify-content: center;
        
    }
    #cat > li{
        border: 1px solid black;
        font-size: 0.5em;
        
        

    }
    #cat > ul > li> a{
       
        font-size: 1.3em;
        
    }
   
    .groups > h1{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1em;
    }
    #grp{
        margin: auto;
        text-align: center;
        padding: 20px;
            
    }
    .linha{
        display: inline;
        padding: 2px;
        
    }
    img{
        height: 100px;
        width: 100px;
        padding: 1px;
    }
    img:hover{
        padding: 15px;
        transition: all 0.5s;
    }

    .linha > a > img {
        width: 100px;
        height: 100px;
    }
    .linha > a > img:hover {
        padding: 0px;
    }

    .blog {

        width: 300px;
        height: 95px;

        margin: auto;
        margin-top: 2px;
        margin-bottom: 2px;
        text: ;
        top: 22px;
        padding: 15px;
        background-color: seagreen;
        color: black;
        text-align: center;
        display: flex;
        justify-content: center;
        font-weight: bolder;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.5em;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    #h11 {
        margin-inline: 25px;
        margin-top: 50px;
        margin-bottom: 15px;
        text-align: center;
    }

    /*FOOTER*/
    footer {


        /*width: 100vw;*/
        background-color: seagreen;

    }

    footer>p {
        line-height: 1em;
        margin-top: 15;

    }

    p,
    h2 {
        text-align: center;

        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.em;
        font-weight: bolder;

    }

    h2 {
        font-size: 1em;

    }

    .bloco {


        text-align: center;
        padding: 10px;
    }

    .bloco>li {
        list-style: none;
    }
    article{
     width: 250px;   
     margin: auto;
     text-indent: 2vh;
     text-align-last: ;
     background-color: rgb(70, 207, 129);
     padding: 50px;
     line-height: 2em;
     line-break: ;
     border-radius: 5px;
     
    }
    article > img{
        margin: auto;
        width: 250px;
        height: 200px;
        
    }
}

@media screen and (min-wdth: 768px) {
    header {

        padding: 20px;
        background-color: seagreen;
        text-align: center;
    }

    menu {
        display: inline-flex;
        /*margin: 25px;*/
        height: 155px;
        padding: 0px;
    }

    .tst {
        text-align: center;
    }

    menu>.tst>p {
        /* width: 100vw;*/
        color: white;

    }

    menu>.tst>h1 {
        font-size: 2.5em;
        font-weight: bolder;
        color: ;
    }

    q {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.2em;
        font-weight: bolder;
        color: aliceblue;
    }

    ul {
        list-style: none;
        margin-left: 20px;
        display: inline-block;
    }

    li {
        height: 20px;
        padding: 5px;

    }

    a {
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.2em;
        font-weight: bolder;
        color: aliceblue;

    }

    a:hover {
        padding: 2px;
        color: rgb(184, 176, 167);
    }

    #cat {
        background-color: rgb(22, 68, 42);
        box-shadow: 5px 5px 8px black;
        height: 2em;
        border-radius: 2px 3px 55px 55px;
        width: 98.90vw;
        margin: auto;

    }

    #cat>ul {
        color: black;
        display: flex;
        margin: auto;

    }

    #cat>li {
        border: 1px solid black;


    }

    #cat>a {
        color: black;


    }

    .groups {
        background-color: ;

        border-radius: 10px;
        margin: 20px;
        padding: 20px;
        align-content: center;
    }

    .groups>h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 3em;
    }

    .groups>p {

        font-size: larger;
        font-weight: bolder;
        font-size: 1.8em;

    }

    #grp {
        margin: auto;
        text-align: center;
        padding: 20px;

    }

    .linha {
        display: inline;
        padding: 2px;

        align-content: center;

    }

    img {
        height: 100px;
        width: 100px;
        margin: px;
        padding: 1px;
        border-radius: 10px;
    }

    img:hover {
        padding: 15px;
        transition: all 0.5s;
    }

    .linha>a>img {
        width: 600px;
        height: 300px;
    }

    .linha>a>img:hover {
        padding: 0px;
    }

    .linha1 {
        display: inline;
        padding: 2px;

        align-content: center;

    }

    .linha1>a>img {
        width: 200px;
        height: 250px;
    }

    /*FOOTER*/
    footer {
        position: ;
        ;
        /*width: 100vw;*/
        background-color: seagreen;

    }

    footer>p {
        line-height: 1.8em;
        margin-top: 15PX;

    }

    p,
    h2 {
        text-align: center;

        color: ;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.9em;
        font-weight: bolder;

    }

    h2 {
        font-size: 1.2em;

    }

    .bloco {
        display: inline-block;
        margin-right: 50px;
        margin-left: 50px;
        text-align: center;
        padding: 10px;
    }

    .bloco>li {
        list-style: none;
    }

    .blog {
        background-color: antiquewhite;
        width: 300px;
        height: 95px;

        margin: auto;
        margin-top: 2px;
        margin-bottom: 2px;
        text: ;
        top: 22px;

        background-color: darkcyan;
        color: black;
        text-align: center;
        display: flex;
        justify-content: center;
        font-weight: bolder;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.5em;

    }

    #h11 {
        margin-inline: 25px;
        margin-top: 50px;
        margin-bottom: 15px;
    }
    article{
        
    }
}

/*gpt*/