*{
    padding: 0px;
    margin: 0px;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.05em;
}


body{
    background-color: black;
    color: white;
    padding: 20px;
}
h1{
    margin-top: 80px;
    margin-bottom: 70px;
    color: #a6a9aa;
}


h2{
    margin-top: 50px;
    margin-bottom: 50px;
    
}
header{
    
}

#maintitle{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 50px;
    color: white;
}
.container-sm{
    display: flex;
    margin-bottom: 150px;
}

.btn{
    background-color: white;
    margin-top: 15px;
    margin-bottom: 20px;
    color: black;
}
.btn:hover{
    background-color: #15192c;
}



main{
    
    
}

.container-fluid_line{
    background-color: #a6a9aa;
    height: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.container-fluid_line_{
    background-color: gray;
    height: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#footer{
    margin-top:50px;
    text-align: center;
    justify-content: center;
}