*{
    padding: 0%;
    margin: 0%;
    font-family: 'Abril Fatface', cursive;
}
header{
    text-align: center;
    color: white;
    display: ;
    justify-content: center;
    
}
header>h1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-right:;
    position: relative;
    
}


.dropdown-menu{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    justify-content: end;
}
.dropdown{
    
}


video{
    height: 800px;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}

body{
    background-color: black;
}
main{
    background-color: ;
}


h1{
    color: white;
    text-align: center;

}

table{
    
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
}

.card{
    background-color: rgb(17, 11, 11);
}
.card-body>h5, .card-body>p{
    color: white;
}
.card-body>a{
    background-color: black;
}
.card-body>a{
    border-color: white;
    display: flex;
    align-self: center;
    
    justify-content: center;
}

.card_1{
    background-color: rgb(17, 11, 11);
    height: 100px;
}
.card_1-body>h5, .card_1-body>p{
    color: white;
}
.card_1-body>a{
    background-color: black;
}
.card_1-body>a{
    border-color: white;
    display: flex;
    align-self: center;
    
    justify-content: center;
}