*{
    padding: 0%;
    margin: 0%;
    font-family: 'Abril Fatface', cursive;
}
header{
    text-align: center;
    color: white;
    
    justify-content: center;
    
}

body{
    
}
header>h1{
    color: rgb(255, 255, 255);
    text-align: center;
  
    position: relative;
    
}


.dropdown-menu{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    justify-content: end;
}


video{
    height: 700px;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}

body{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    
}

table{
    
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
}

.card{
    background-color: rgb(17, 11, 11);
}
.card-body>h5, .card-body>p{
    color: white;
}
.card-body>a{
    background-color: black;
}
.card-body>a{
    border-color: white;
    display: flex;
    align-self: center;
    
    justify-content: center;
}

.card_1{
    background-color: rgb(17, 11, 11);
    height: 100px;
}
.card_1-body>h5, .card_1-body>p{
    color: white;
}
.card_1-body>a{
    background-color: black;
}
.card_1-body>a{
    border-color: white;
    display: flex;
    align-self: center;
    
    justify-content: center;
}

table>thead{
    margin-top: 550px;
    
}


#swipe{
    color:white;
    text-align: center;
    font-size: 2em;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.container-fluid_line{
    background-color: red;
    height: 10px;
    border-radius: 140px;
    margin-top: 50px;
    margin-bottom: 20px;
}

footer>.container-fluid{
    text-align: center;
    color: white;
}

@media (max-width: 768px){

    table>thead{
        margin-top: 10px;
    }

    h5{
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .dropdown, .dropdown-menu{
        font-size: 5em;
    }
    .btn{
        
        width: px;
    }
    
    
    
    footer>.container-fluid{
        text-align: center;
        margin-top: 20px;
    }
    
    *{
        font-size: 0.5em;
    }
    
    
    video{
        height: 735px;
        
    }

    #swipe{
        color:white;
        text-align: center;
        font-size: 8em;
    }
}